.place__container {
  display: grid;
  row-gap: 26px;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}

@media screen and (max-width: 768px) {
  .place__container {
    row-gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

