.places {
  margin: 12px 148px 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 8px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 14px 16px 0;
  }
}