.cover__subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 32px 412px 0;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    margin-left: 332px;
    margin-right: 332px;
  }
}

@media screen and (max-width: 1000px) {
  .cover__subtitle {
    margin-left: 204px;
    margin-right: 204px;
  }
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 16px 16px 0;
  }
}