.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  } 
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 32px);
    padding: 16px 16px 0;
    height: 42px;
  }
}