.footer__link-container {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-right: 18px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  transition: opacity 1s linear .1s;
}

.footer__link-container:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .footer__link-container {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}