.footer__link-container {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-right: 18px;
  transition: opacity 1s linear .1s;
}

.footer__link-container:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .footer__link-container {
    padding-bottom: 32px;
  }
}