.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 88px;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 65px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: calc(100% - 32px);
    font-size: 40px;
    line-height: 1.1;
  }
}