.lead__title {
  margin: 0 132px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 1270px) {
  .lead__title {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media screen and (max-width: 990px) {
  .lead__title {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-left: 16px;
    margin-right: 16px;
  }
}