.footer__links {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  transition: opacity 1s linear .1s;
}

.footer__links:hover {
  opacity: .6;
}

@media screen and (max-width: 642px) {
  .footer__links {
    flex-direction: column;
  }
}