.lead__subtitle {
  width: 640px;
  height: 72px;
  margin: 32px auto 0;
  border: 1px solid red;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */

  text-align: center;
}