.place__link {
  width: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  transition: opacity 1s linear .1s;
  color: #ffffff;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .place__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    font-size: 18px;
    line-height: 1.22;
  }
}