.footer {
  display: flex;
  max-width: 100%;
  margin: 92px auto 0;
  padding-bottom: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 642px) {
  .footer {
    margin-top: 44px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 250px;
    justify-content: space-between;
    height: 310px;
    margin: 64px auto 0 16px;
  }
}